.form-control,
.modal-content,
.btn,
.card,
.img-thumbnail,
.list-group-item:first-child, .list-group-item:last-child,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child), .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text,
.input-group-sm > .form-control, .input-group-sm > .input-group-append > .btn, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-prepend > .input-group-text,
.alert, .progress {
    border-radius: 0px;
}

.table thead th {
    font-size: 12px;
}

.card, .img-thumbnail, div[id='imageContainer'], .navbar {
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.modal-body, .padding-0 {
    padding: 0px;
}

.margin-0 {
    margin: 0px;
}

.width-100, .react-datepicker__input-container, .react-datepicker-wrapper {
    width: 100%;
}

label {
    font-size: 14px!important;
}

/* ------------ */

.div-load {
    vertical-align: top;
    border: none;
    padding: 0px;
    background: linear-gradient(
            to right,
            #79c975,
            #5dc7cc,
            #fad108,
            #b9ce2b,
            #79c975
    )
    160%
    0
    repeat-x,
    linear-gradient(to top, #79c975, #5dc7cc, #fad108, #b9ce2b, #79c975)
    100%
    20%
    repeat-y,
    linear-gradient(to left, #79c975, #5dc7cc, #fad108, #b9ce2b, #79c975)
    10%
    100%
    repeat-x,
    linear-gradient(to bottom, #79c975, #5dc7cc, #fad108, #b9ce2b, #79c975)
    0%
    10%
    repeat-y;

    background-size: 300% 10px, 10px 300%;
    animation: bd 3s infinite linear;
}
@keyframes bd {
    50% {
        background-position: 460% 0, 100% 320%, 310% 100%, 0% 310%;
    }
}
